# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/FlutterMac.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData
*.moved-aside
*.pbxuser
!default.pbxuser

# Dart
*.dart_tool/

# Coverage
coverage/

# Hive local data (ne pas versionner)
*.hive
*.lock

# Environnement
.env
.env.local
.env.*.local

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
